<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="sidebar">
      <button class="name">
        <span class="nav-name"><span class="first-alpha">R</span> ishi</span>
      </button>
      <div class="navbar">
        <ul>
          <li>
            <button class="nav-buttons" onclick="scrollToSection('home')">
              Home
            </button>
          </li>
          <li>
            <button
              class="nav-buttons"
              onclick="scrollToSection('skill-section')"
            >
              My Skills
            </button>
          </li>
          <li>
            <button
              class="nav-buttons"
              onclick="scrollToSection('project-section')"
            >
              Projects
            </button>
          </li>
          <li>
            <button class="nav-buttons" onclick="scrollToSection('contact')">
              Contact
            </button>
          </li>
        </ul>
        <div class="nav-links">
          <a href="mailto:rishikm1215@gmail.com"
            ><i class="fa-solid fa-envelope" style="color: #ffffff"></i
          ></a>
          <a href="https://github.com/rishi-09" target="_blank"
            ><i class="fa-brands fa-square-github" style="color: #ffffff"></i
          ></a>
          <a href="https://linkedin.com/in/rishi215" target="_blank">
            <i class="fa-brands fa-linkedin" style="color: #ffffff"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- Home Section -->
    <section id="home" class="main-section">
      <div class="content">
        <p class="tag">&ltbody&gt</p>
        <p class="tag inner-tag">&lt/h1&gt</p>
        <h1 class="info">Hi,</h1>
        <h1 class="info">I am <span class="first-alpha">R</span> ishi</h1>
        <h1 class="info">Web Developer</h1>
        <p class="tag inner-tag">&lt/hl&gt</p>
        <p class="desg inner-inner-tag">MERN stack Developer</p>
        <p class="tag">&ltbody&gt</p>
        <button
          class="contact-me"
          id="button"
          onclick="scrollToSection('contact')"
        >
          Contact Me!
        </button>
      </div>
      <div>
        <img src="/images/me.jpeg" alt="Profile" class="image" />
      </div>
    </section>

    <!-- Skills Section -->
    <section id="skill-section" class="skill main-section">
      <h1 class="section-title">My Skills</h1>
      <div class="cards">
        <!--Html card-->
        <div class="card">
          <svg
            class="skill-icons"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 640 640"
          >
            <!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
            <path
              fill="#ffffff"
              d="M128 96L162.9 491.8L319.5 544L477.1 491.8L512 96L128 96zM436.2 223.9L252.4 223.9L256.5 273.3L432.1 273.3L418.5 421.7L320.6 448.7L320.6 449L319.5 449L220.8 421.7L214.8 345.9L262.5 345.9L266 384L319.5 398.5L373.2 384L379.2 321.8L212.3 321.8L199.5 176.2L440.6 176.2L436.2 223.9z"
            />
          </svg>
          HTML
          <a
            href="https://developer.mozilla.org/en-US/docs/Web/HTML"
            target="main"
            ><svg
              class="icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 640"
            >
              <path
                fill="#ffffff"
                d="M354.4 83.8C359.4 71.8 371.1 64 384 64L544 64C561.7 64 576 78.3 576 96L576 256C576 268.9 568.2 280.6 556.2 285.6C544.2 290.6 530.5 287.8 521.3 278.7L464 221.3L310.6 374.6C298.1 387.1 277.8 387.1 265.3 374.6C252.8 362.1 252.8 341.8 265.3 329.3L418.7 176L361.4 118.6C352.2 109.4 349.5 95.7 354.5 83.7zM64 240C64 195.8 99.8 160 144 160L224 160C241.7 160 256 174.3 256 192C256 209.7 241.7 224 224 224L144 224C135.2 224 128 231.2 128 240L128 496C128 504.8 135.2 512 144 512L400 512C408.8 512 416 504.8 416 496L416 416C416 398.3 430.3 384 448 384C465.7 384 480 398.3 480 416L480 496C480 540.2 444.2 576 400 576L144 576C99.8 576 64 540.2 64 496L64 240z"
              />
            </svg>
          </a>
        </div>
        <!--CSS card-->

        <div class="card">
          <svg
            class="skill-icons"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 640 640"
          >
            <!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
            <path
              fill="#ffffff"
              d="M128 96L162.9 491.8L320 544L477.1 491.8L512 96L128 96zM441.1 176L436.3 223.3L321 272.6L320.7 272.7L432.2 272.7L419.4 419.3L321.2 448L222.4 418.8L216 344.9L264.9 344.9L268.1 383.2L320.7 396.5L375.4 381.1L379.1 319.5L212.8 319L212.8 318.9L212.6 319L209 272.7L321.1 226L327.6 223.3L204.7 223.3L198.9 176L441.1 176z"
            />
          </svg>
          CSS<a
            href="https://developer.mozilla.org/en-US/docs/Web/CSS"
            target="main"
            ><svg
              class="icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 640"
            >
              <path
                fill="#ffffff"
                d="M354.4 83.8C359.4 71.8 371.1 64 384 64L544 64C561.7 64 576 78.3 576 96L576 256C576 268.9 568.2 280.6 556.2 285.6C544.2 290.6 530.5 287.8 521.3 278.7L464 221.3L310.6 374.6C298.1 387.1 277.8 387.1 265.3 374.6C252.8 362.1 252.8 341.8 265.3 329.3L418.7 176L361.4 118.6C352.2 109.4 349.5 95.7 354.5 83.7zM64 240C64 195.8 99.8 160 144 160L224 160C241.7 160 256 174.3 256 192C256 209.7 241.7 224 224 224L144 224C135.2 224 128 231.2 128 240L128 496C128 504.8 135.2 512 144 512L400 512C408.8 512 416 504.8 416 496L416 416C416 398.3 430.3 384 448 384C465.7 384 480 398.3 480 416L480 496C480 540.2 444.2 576 400 576L144 576C99.8 576 64 540.2 64 496L64 240z"
              />
            </svg>
          </a>
        </div>
        <!--Js card-->
        <div class="card">
          <svg
            class="skill-icons"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 640 640"
          >
            <path
              fill="#ffffff"
              d="M544 160C544 124.7 515.3 96 480 96L160 96C124.7 96 96 124.7 96 160L96 480C96 515.3 124.7 544 160 544L480 544C515.3 544 544 515.3 544 480L544 160zM276.9 508.9C243.2 508.9 223.7 491.5 213.7 470.4L248 449.7C254.6 461.4 260.6 471.3 275.1 471.3C288.9 471.3 297.7 465.9 297.7 444.8L297.7 301.7L339.8 301.7L339.8 445.4C339.8 489 314.2 508.9 276.9 508.9zM362.7 465.9L397 446.1C406 460.8 417.8 471.7 438.5 471.7C455.9 471.7 467.1 463 467.1 450.9C467.1 436.5 455.7 431.4 436.4 422.9L425.9 418.4C395.5 405.5 375.4 389.2 375.4 354.9C375.4 323.3 399.5 299.3 437 299.3C463.8 299.3 483 308.6 496.8 333L464 354C456.8 341.1 449 336 436.9 336C424.6 336 416.8 343.8 416.8 354C416.8 366.6 424.6 371.7 442.7 379.6L453.2 384.1C489 399.4 509.1 415.1 509.1 450.3C509.1 488.1 479.3 508.9 439.4 508.9C400.3 508.9 375 490.3 362.7 465.9z"
            />
          </svg>
          JavaScript
          <a
            href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide"
            target="main"
            ><svg
              class="icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 640"
            >
              <path
                fill="#ffffff"
                d="M354.4 83.8C359.4 71.8 371.1 64 384 64L544 64C561.7 64 576 78.3 576 96L576 256C576 268.9 568.2 280.6 556.2 285.6C544.2 290.6 530.5 287.8 521.3 278.7L464 221.3L310.6 374.6C298.1 387.1 277.8 387.1 265.3 374.6C252.8 362.1 252.8 341.8 265.3 329.3L418.7 176L361.4 118.6C352.2 109.4 349.5 95.7 354.5 83.7zM64 240C64 195.8 99.8 160 144 160L224 160C241.7 160 256 174.3 256 192C256 209.7 241.7 224 224 224L144 224C135.2 224 128 231.2 128 240L128 496C128 504.8 135.2 512 144 512L400 512C408.8 512 416 504.8 416 496L416 416C416 398.3 430.3 384 448 384C465.7 384 480 398.3 480 416L480 496C480 540.2 444.2 576 400 576L144 576C99.8 576 64 540.2 64 496L64 240z"
              />
            </svg>
          </a>
        </div>
        <!--SQl card-->
        <div class="card">
          <svg
            class="skill-icons"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 640 640"
          >
            <!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
            <path
              fill="#ffffff"
              d="M544 269.8C529.2 279.6 512.2 287.5 494.5 293.8C447.5 310.6 385.8 320 320 320C254.2 320 192.4 310.5 145.5 293.8C127.9 287.5 110.8 279.6 96 269.8L96 352C96 396.2 196.3 432 320 432C443.7 432 544 396.2 544 352L544 269.8zM544 192L544 144C544 99.8 443.7 64 320 64C196.3 64 96 99.8 96 144L96 192C96 236.2 196.3 272 320 272C443.7 272 544 236.2 544 192zM494.5 453.8C447.6 470.5 385.9 480 320 480C254.1 480 192.4 470.5 145.5 453.8C127.9 447.5 110.8 439.6 96 429.8L96 496C96 540.2 196.3 576 320 576C443.7 576 544 540.2 544 496L544 429.8C529.2 439.6 512.2 447.5 494.5 453.8z"
            />
          </svg>
          MySql
          <a href="https://dev.mysql.com/doc/" class="skill-icon" target="main"
            ><svg
              class="icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 640"
            >
              <path
                fill="#ffffff"
                d="M354.4 83.8C359.4 71.8 371.1 64 384 64L544 64C561.7 64 576 78.3 576 96L576 256C576 268.9 568.2 280.6 556.2 285.6C544.2 290.6 530.5 287.8 521.3 278.7L464 221.3L310.6 374.6C298.1 387.1 277.8 387.1 265.3 374.6C252.8 362.1 252.8 341.8 265.3 329.3L418.7 176L361.4 118.6C352.2 109.4 349.5 95.7 354.5 83.7zM64 240C64 195.8 99.8 160 144 160L224 160C241.7 160 256 174.3 256 192C256 209.7 241.7 224 224 224L144 224C135.2 224 128 231.2 128 240L128 496C128 504.8 135.2 512 144 512L400 512C408.8 512 416 504.8 416 496L416 416C416 398.3 430.3 384 448 384C465.7 384 480 398.3 480 416L480 496C480 540.2 444.2 576 400 576L144 576C99.8 576 64 540.2 64 496L64 240z"
              />
            </svg>
          </a>
        </div>
        <!--Express.js card-->
        <div class="card">
          Express.js<a
            href="https://expressjs.com"
            class="skill-icon"
            target="main"
            ><svg
              class="icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 640"
            >
              <path
                fill="#ffffff"
                d="M354.4 83.8C359.4 71.8 371.1 64 384 64L544 64C561.7 64 576 78.3 576 96L576 256C576 268.9 568.2 280.6 556.2 285.6C544.2 290.6 530.5 287.8 521.3 278.7L464 221.3L310.6 374.6C298.1 387.1 277.8 387.1 265.3 374.6C252.8 362.1 252.8 341.8 265.3 329.3L418.7 176L361.4 118.6C352.2 109.4 349.5 95.7 354.5 83.7zM64 240C64 195.8 99.8 160 144 160L224 160C241.7 160 256 174.3 256 192C256 209.7 241.7 224 224 224L144 224C135.2 224 128 231.2 128 240L128 496C128 504.8 135.2 512 144 512L400 512C408.8 512 416 504.8 416 496L416 416C416 398.3 430.3 384 448 384C465.7 384 480 398.3 480 416L480 496C480 540.2 444.2 576 400 576L144 576C99.8 576 64 540.2 64 496L64 240z"
              />
            </svg>
          </a>
        </div>
        <!-- MongoDB card -->
        <div class="card">
          <img class="skill-icons" src="/images/mongodb.png" alt="" />
          <a
            href="https://www.mongodb.com/docs"
            class="skill-icon"
            target="main"
            ><svg
              class="icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 640"
            >
              <path
                fill="#ffffff"
                d="M354.4 83.8C359.4 71.8 371.1 64 384 64L544 64C561.7 64 576 78.3 576 96L576 256C576 268.9 568.2 280.6 556.2 285.6C544.2 290.6 530.5 287.8 521.3 278.7L464 221.3L310.6 374.6C298.1 387.1 277.8 387.1 265.3 374.6C252.8 362.1 252.8 341.8 265.3 329.3L418.7 176L361.4 118.6C352.2 109.4 349.5 95.7 354.5 83.7zM64 240C64 195.8 99.8 160 144 160L224 160C241.7 160 256 174.3 256 192C256 209.7 241.7 224 224 224L144 224C135.2 224 128 231.2 128 240L128 496C128 504.8 135.2 512 144 512L400 512C408.8 512 416 504.8 416 496L416 416C416 398.3 430.3 384 448 384C465.7 384 480 398.3 480 416L480 496C480 540.2 444.2 576 400 576L144 576C99.8 576 64 540.2 64 496L64 240z"
              />
            </svg>
          </a>
        </div>
        <!-- Python -->
        <div class="card">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="skill-icons"
            viewBox="0 0 640 640"
          >
            <!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
            <path
              fill="#ffffff"
              d="M535.8 264.5C528.1 233.6 513.5 210.3 482.4 210.3L442.3 210.3L442.3 257.7C442.3 294.5 411.1 325.5 375.5 325.5L268.7 325.5C239.5 325.5 215.3 350.5 215.3 379.8L215.3 481.6C215.3 510.6 240.5 527.6 268.7 535.9C302.5 545.8 335 547.6 375.5 535.9C402.4 528.1 428.9 512.4 428.9 481.6L428.9 440.9L322.2 440.9L322.2 427.3L482.4 427.3C513.5 427.3 525 405.6 535.8 373.1C547 339.6 546.5 307.4 535.8 264.5zM382.2 508.7C374.6 509.2 367.3 505.5 363.3 499C359.4 492.4 359.4 484.3 363.3 477.7C367.3 471.2 374.6 467.5 382.2 468C389.8 467.5 397.1 471.2 401.1 477.7C405 484.3 405 492.4 401.1 499C397.1 505.5 389.8 509.2 382.2 508.7zM263.8 312.1L370.6 312.1C400.3 312.1 424 287.6 424 257.8L424 155.9C424 126.9 399.6 105.2 370.6 100.3C334.8 94.4 295.9 94.7 263.8 100.4C218.6 108.4 210.4 125.1 210.4 156L210.4 196.7L317.3 196.7L317.3 210.3L170.3 210.3C139.2 210.3 112 229 103.5 264.5C93.7 305.2 93.3 330.6 103.5 373.1C111.1 404.7 129.2 427.3 160.3 427.3L197 427.3L197 378.5C197 343.2 227.5 312.1 263.8 312.1zM257.2 128.7C268.5 128.7 277.6 137.8 277.6 149.1C277.6 160.4 268.5 169.5 257.2 169.5C245.9 169.5 236.8 160.4 236.8 149.1C236.8 137.8 245.9 128.7 257.2 128.7z"
            />
          </svg>
          <a href="https://www.python.org/" target="_blank">
            <svg
              class="icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 640"
            >
              <path
                fill="#ffffff"
                d="M354.4 83.8C359.4 71.8 371.1 64 384 64L544 64C561.7 64 576 78.3 576 96L576 256C576 268.9 568.2 280.6 556.2 285.6C544.2 290.6 530.5 287.8 521.3 278.7L464 221.3L310.6 374.6C298.1 387.1 277.8 387.1 265.3 374.6C252.8 362.1 252.8 341.8 265.3 329.3L418.7 176L361.4 118.6C352.2 109.4 349.5 95.7 354.5 83.7zM64 240C64 195.8 99.8 160 144 160L224 160C241.7 160 256 174.3 256 192C256 209.7 241.7 224 224 224L144 224C135.2 224 128 231.2 128 240L128 496C128 504.8 135.2 512 144 512L400 512C408.8 512 416 504.8 416 496L416 416C416 398.3 430.3 384 448 384C465.7 384 480 398.3 480 416L480 496C480 540.2 444.2 576 400 576L144 576C99.8 576 64 540.2 64 496L64 240z"
              />
            </svg>
          </a>
        </div>
      </div>
    </section>
    <!--Project Section-->
    <section id="project-section" class="main-section">
      <h1 class="section-title">Projects</h1>
      <div class="cards">
        <div class="card project-card">
          <h2 class="card-title">roomora</h2>
          <img class="bg" src="/images/roomora.png" alt="" />
          <div class="curtain"></div>
          <i class="fa-brands fa-github icon" style="color: #ffffff"></i>
        </div>
        <div class="card project-card">
          <h2 class="card-title">Portfolio Website</h2>
          <img class="bg" src="/images/portfolio.png" alt="" />
          <div class="curtain"></div>
          <i class="fa-brands fa-github icon" style="color: #ffffff"></i>
        </div>
        <div class="card project-card">
          <h2 class="card-title">Simon Says Game</h2>
          <img class="bg" src="/images/simonSays.png" alt="" />
          <div class="curtain"></div>
          <i class="fa-brands fa-github icon" style="color: #ffffff"></i>
        </div>
        <div class="card project-card">
          <h2 class="card-title">Tic Tac Toe</h2>
          <img class="bg" src="/images/tictactoe.png" alt="" />
          <div class="curtain"></div>
          <i class="fa-brands fa-github icon" style="color: #ffffff"></i>
        </div>
      </div>
    </section>
    <!--Contact section -->
    <section id="contact" class="main-section contact">
      <h2 class="section-title">Contact Me</h2>
      <form class="contact-form" id="contact-form">
  <input type="text" name="name" placeholder="Your Name" required />
  <input type="email" name="email" placeholder="Your Email" required />
  <textarea name="message" placeholder="Your Message" required></textarea>
  <button id="sendbtn">Send</button>
</form> 
    </section>
    <footer class="footer">
      <p>&copy; 2025 Rishi | All Rights Reserved</p>
      <p>Fail Fast , learn Fast</p>

      <div class="links">
        <a href="mailto:rishikm1215@gmail.com"
          ><i class="fa-solid fa-envelope" style="color: #ffffff"></i
        ></a>
        <a href="https://github.com/rishi-09" target="_blank"
          ><i class="fa-brands fa-square-github" style="color: #ffffff"></i
        ></a>
        <a href="https://linkedin.com/in/yourlinkedin" target="_blank">
          <i class="fa-brands fa-linkedin" style="color: #ffffff"></i>
        </a>
      </div>
    </footer>
    <audio
      class="hoversound"
      src="/Assets/sound/sound.wav"
      preload="auto"
    ></audio>
    <script src="/js/script.js"></script>
  </body>
</html>
