@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body{
     background-color: rgb(0, 0, 0);
     margin: 0;
     padding: 0;
     overflow: hidden;
}

.main{
    display:flex;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
.sidebar {
    width: 300px;
    background-color: #191919;
    height: 100%;
    position: sticky;
}

.name{
    background-color: aqua;
    border-radius: 10px;
    width: 300px;
    transition: transform 0.5s ease;
}

.name:hover{
    background-color: rgb(137, 225, 225);
    border-radius: 10px;
    width: 300px;
}
.name:active{
    background-color: aqua;
    transform: translateX(10px);
}

.nav-name {
  font-size: 3em;
  color: white;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  padding: 70px;

}

ul{
    margin:0;
    padding: 20px 0 0 0;
    text-align: center;
}

li{
    list-style: none;
}

.nav-buttons{
    font-size: 1.2em;
    font-weight: 900;
    border: transparent;
    background: transparent;
    text-decoration: solid;
    transition: all 0.1s ease;
    color: white;
    width: 300px;
    padding: 20px;
}

.nav-buttons:hover{
    color: rgb(7, 190, 196);
}

.nav-buttons:active{
    transform: scale(0.95);
}

.content{
    padding: 100px;
    animation: float 3s ease-in infinite;
}


.tag{
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    color: rgba(172, 173, 173,0.3);
    font-size: 1.7em;
    transition: all 0.3s ease;
    
}
.inner-tag{
    padding-left: 50px;
    
}

.inner-inner-tag{
    padding-left: 100px;
}

.info:hover{
    transform: scale(1.07) ;
    filter: drop-shadow(0px 0px 8px rgb(85, 185, 218));
}

.first-alpha{
    filter: drop-shadow(7px 0px 0px rgb(89, 218, 218));
    font-size: 1.5em;   
}
.info{
    font-family:'Gilroy-bold', sans-serif;
    font-size: 5em;
    color: white;
    margin: 0;
    filter: drop-shadow(6px 0px   rgb(54, 200, 208));
    transition: all 0.5s ease;
    
}

.desg{
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    margin-top: 2%;
    color: rgba(172, 173, 173,0.3);
    font-size: 1.7em;
    transition: all 0.3s ease;
}

.desg:hover{
    color:white;
    transform: scale(1.1);
}

#button:hover{
    color: rgb(255, 255, 255); 
    background-color: #191919;
    border: 2px solid aqua;
}

#button:active{
    transform: scale(0.95);
}


#button{
    color: rgb(0, 0, 0);
    border: none;
    background: white;
    font-weight: 600;
    font-size: 1.1em;
    font-family: 'Poppins', sans-serif;
    height:50px;
    width:150px;
    transition: all 0.1s ease;
    padding: 10px;
    border-radius: 15px;
    filter: drop-shadow(4px 0px  rgb(54, 200, 208));
}

.wall{
    position: relative;
    left:320px;
    display: flex;  
    gap:5px;
}
 .aqua-line{
    height: 100%;
    width:50px;
    background-color: aqua;
    margin: 20px;
    transform: rotate(-45deg) translateX(400px);
}
 .fresh-line{
    height: 100%;
    width:50px;
    background-color: rgb(229, 130, 119);
    margin: 20px;
    transform: rotate(-45deg) translateX(400px);   
    
}
   


    @keyframes float {
      0%{
        transform: translateY(0);
      }
      33%{
        transform: translateY(7px);
      }
      67%{
        transform: translateY(-7px);
      }
      100%{
        transform: translateY(0);
      }
    }
   

.aboutme{
    color: white;
    font-weight: 800;
}